<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.kfupmsocialspace">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MyMarketItemEditActivity"
            android:parentActivityName="MyMarketItemViewActivity"></activity>
        <activity
            android:name=".MyMarketItemViewActivity"
            android:parentActivityName=".MyMarketItemsActivity" />
        <activity
            android:name=".RoommateRequestViewActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ChatroomRequestActivity" />
        <activity
            android:name=".MyMarketItemsActivity"
            android:label="@string/title_activity_my_market_items"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.kfupmsocialspace.MainActivity" />
        </activity>
        <activity
            android:name=".MyRoommateRequestActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MyBlogsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MarketItemViewActivity"
            android:parentActivityName=".MainActivity" /> <!-- <activity -->
        <!-- android:name=".NewsFragment" -->
        <!-- android:label="@string/title_activity_news" -->
        <!-- android:parentActivityName=".MainActivity" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="com.example.android.kfupmsocialspace.MainActivity" /> -->
        <!-- </activity> -->
        <activity
            android:name=".AddRoommateRequestActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddNewBlogActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CategoryBlogsViewActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BlogViewActivity"
            android:parentActivityName=".CategoryBlogsViewActivity" />
        <activity android:name=".SignUp" />
        <activity android:name=".SignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".chat_label_info_fragment" /> <!-- https://stackoverflow.com/questions/28100472/how-can-i-create-an-android-activity-with-back-arrow-as-shown-in-the-picture -->
        <activity
            android:name=".AddCourseActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FilesActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChatActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChatInfoActivity"
            android:parentActivityName=".ChatActivity" />
        <activity
            android:name=".ChatFilesActivity"
            android:parentActivityName=".ChatActivity" />
        <activity
            android:name=".ChatGroupActivity"
            android:parentActivityName=".ChatActivity" />
        <activity
            android:name=".UtilitiesActivity"
            android:label="@string/title_activity_utilities"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.kfupmsocialspace.MainActivity" />
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".AddMarketItemActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Placeholder"
            android:theme="@style/SplashTheme" />

        <service android:name=".firebaseServices.FirebaseService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>